@media screen and (max-width: 1199px) {
  header .appoin h2 .ringing_phone  { line-height:  normal; }
    header{
        .logo{
            padding: 20px 0px;
            img{
                height: 47px;
            }
        }
        .menu {
            margin: 1.3rem 0px 0px;            
            height: 35px;
        }
        li {
            margin: 0px 7px;            
            font-size: 1rem;            
            line-height: 1rem;            
        }
        .appoin {
            h2{
              padding: 20px 10px 20px 10px !important;
              width: 220px !important;
            }           
               
            a {
                font-size: 1rem;
                &:before {                    
                    left: -46px;
                    top: 10px;                    
                    width: 34px;
                    height: 34px;                    
                }
                span {
                    font-size: 1.5rem;                    
                }                
            }         
        }
    }

    #mainBanner {
        .bnr-txt {
            position: absolute;
            left: 50px;
            top: 130px;
            width: 400px;
           
            h1 {                
                font-size: 2rem;
            }

            h2 {                
                font-size: 1rem;                
            }
        }
        &:before {
            bottom: -9px;            
            height: 9px;            
        }
        &:after {
            bottom: -17px;            
            height: 9px;            
        }
    }    

    
header .menu {
  height: auto;
  margin: 0;

  li {
    margin: 0 5px;
  }
}

#main-header {
  position: static;
}



.fixHeader .logo {
  padding: 20px 0;
}

.ftr-btm {
  padding: 30px 0;
}

.ftr-top {
  margin-bottom: 0;
}

}
@media screen and (max-width: 991px) {
   
   .top {
  display: none;
}

header {
  .menu {
    margin-bottom: 15px;
  }

  .menu-wrp {
    margin: 0;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 100%;
  }

  .head-inn {
    flex-wrap: wrap;
    position: relative;
  }
}

.appoin {
  margin: 0;
  margin-left: auto;
}

header {
  .navbar .navbar-toggler {
    height: 100%;
    height: 97px;
    border-radius: 0;
    box-shadow: none;
    position: absolute;
    right: 0;
    top: -97px;
  }

  .appoin {
    margin: 0;
    margin-left: auto;
    order: 2;
    margin-right: 60px;
  }

  .menu {
    width: 100%;
    position: static;
    text-align: right;
  }
}

.navbar-toggler .navbar-toggler-icon {
  filter: brightness(0) invert(1) !important;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height .35s ease;
}

.ftr-top {
  h1 {
    font-size: 0.92rem;
    margin-bottom: 15px;
  }

  ul li {
    line-height: normal;
    margin-bottom: 5px;
  }

  p {
    font-size: 0.92rem;
  }

  form {
    margin-top: 20px;
  }

  ul a {
    font-size: 0.92rem;
  }

  form input {
    &[type="submit"], &[type="email"] {
      width: 100%;
    }

    &[type="submit"] {
      background: #69beb5;
      border: none !important;
      color: #000000 !important;
      padding: 10px 20px;
      margin-top: 5px;
    }
  }
}

.ftr-btm {
  padding: 15px 0;

  p {
    font-size: 0.92rem;
  }
}

.wrapper {
  max-width: 98%;
}
    .navbar-toggler {        
        border-color: #69beb5;
        background: #2d455f;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
        }
    }
    header{
        
        
        .appoin {
            position: static;
            right: 32px;
                       
           
        }
    }

    #mainBanner{
        .bnr-txt {
            position: absolute;
            left: 40px;
            top: 101px;
            width: 400px;
        }
        &:before {            
            width: 400px;            
        }
        &:after {            
            width: 400px;
        }
    }
    
    
    
}
@media screen and (max-width: 767px) {
  


}
@media screen and (max-width: 639px) {
header {
  .appoin {
    a {
      font-size: 0 !important;
      display: block;
    }

    font-size: 0 !important;

    span {
      font-size: 0 !important;
    }
  }

  .navbar .navbar-toggler {
    height: 50px;
    top: -68px;
  }
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  width: 28px !important;
  height: 28px !important;
}

header .appoin {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 0 !important;
  justify-content: center;
  align-items: center;

  a::before {
    position: static !important;
    display: block;
    width: 30px !important;
    height: 30px !important;
  }
}
    #mainBanner{
         .bnr-txt {
        position: absolute;
        left: 20px;
        top: 25px;

        width: 230px;
         h1 {
            font-size: 1rem;
            }
            h2 {
                font-size: 0.8rem;
            }
        }
        &:before {
            width: 200px;
            right: 20px;
        }
        &:after {
            width: 200px;
            right: 60px;
        }
       .carousel-control-prev {
            width: 40px;
            height: 30px;            
            right: 46px;
            left: auto;
            .carousel-control-prev-icon {
                width: 19px;
                height: 19px;
                opacity: 0.8;
            }
        }
        .carousel-control-next {
            width: 40px;
            height: 30px;            
            right: 0px;
            left: auto;
            .carousel-control-next-icon {
                width: 19px;
                height: 19px;
                opacity: 0.8;
            }
        }

    }
    
}
    